*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.page-bg{
  display:flex;
  justify-content: center;
  background: radial-gradient(circle at 10% 30% ,rgba(49, 27, 146, 0.4) 0%,transparent 40%),
  radial-gradient(circle at 90% 80%, rgba(26, 35, 126, 0.5) 0%,transparent 50%),
  radial-gradient(circle at 20% 50%, rgba(26, 126, 121, 0.5) 0%,transparent 50%),
  radial-gradient(circle at 80% 20%, rgba(26, 126, 121, 0.5) 0%,transparent 30%),
  radial-gradient(circle at 50% 50%, #080b1a 0%, #05070a 100%);
  background-attachment: fixed;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body.light{
  background: radial-gradient(circle at 10% 30% ,rgba(49, 27, 146, 0.4) 0%,transparent 40%),
  radial-gradient(circle at 90% 80%, rgba(26, 35, 126, 0.5) 0%,transparent 50%),
  radial-gradient(circle at 20% 50%, rgba(26, 126, 121, 0.5) 0%,transparent 50%),
  radial-gradient(circle at 80% 20%, rgba(26, 126, 121, 0.5) 0%,transparent 30%),
  radial-gradient(circle at 50% 50%, #a6b2ef 0%, #0b3e8b 100%);
  background-attachment: fixed;
}
.calc-body{
  background-color: #f0eded27;
  backdrop-filter: blur(20px);
  border: 1px solid #ffffff24;
  border-radius: 20px;
  padding: 30px 20px;
  margin: 50px;
  position: relative;
  max-width: 80vh;
}
.calc-top{
  display:flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
/* toggle button */
.toggle{
  width:60px;
  height: 30px;
  background-color: #f0eded27;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  position:relative;
  padding: 2px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.theme-icons{
  display:flex;
  justify-content: space-between;
  width:100%;
}
.theme-icons img{
  width: 25px;
  padding: 2px 2px;
}
.circle{
  width: 27px;
  height: 27px;
  background-color: #05070a;
  border-radius: 50%;
  position: absolute;
  top:1.5px;
  transition: transform 0.3s ease; 
}
body.light .circle{
  transform: translateX(30px);
  background-color: #fff;
}
/* END */
.calculation-box{
  display: flex;
  padding-bottom: 20px;
}
.calculation-box input{
  width: 100%;
  height: 10vh;
  background-color: #f0eded00;
  backdrop-filter: blur(20px);
  border: 1px solid #ffffff24;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  text-align: right;
  padding: 20px;
}
.result-box{
  width: 35%;
  height: 10vh;
  background-color: #f0eded00;
  backdrop-filter: blur(20px);
  border: 1px solid #ffffff24;
  border-radius: 10px;
  margin-left: 2px;
}
.calculator-button{
  display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
    gap: 20px;
}
.calculator-button button{
  padding: 12px;
  background-color: #f0eded00;
  backdrop-filter: blur(20px);
  border: 1px solid #ffffff24;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  box-shadow: 0px 24px 25px -19px #05070a;
}
.calculator-button button:hover{
  box-shadow: 0 0 10px #05162f;
}
button:active{
  background-color: #f0eded77;
  color: #05070a;
}